@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.intro {
  color: #000000;
  background-color: #5a3426;
  background-image: url("../images/intro/index-background.jpg");
  background-size: cover auto;
  background-repeat: no-repeat;
}

.advantages-title {
  text-transform: uppercase;
}

.advantages {
  text-align: center;
}

.advantages-title-1 {
  text-transform: uppercase;
  size: 30px;
  line-height: 36px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-description-1 {
  background-color: #83b3d3;
  color: #ffffff;
}

.features-item-1 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.features-item-2 {
  background-color: #ffffff;
  color: #000000;
}

.features-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.features-title {
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.reservation {
  text-align: center;
  background-color: #ffffff;
}

.reservation-title {
  text-transform: uppercase;
}

.button-special {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  text-align: center;
  background-image: url("../images/background/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.button {
  background-color: #83b3d3;
}

.page-footer {
  background-color: #ffffff;
}

.footer-social-item {
  text-align: left;
}

.footer-contacts {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.footer-contacts-phone {
  font-style: normal;
}

.branding {
  text-align: right;
}
