@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  border: 1px solid red;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 10px;
  min-height: 10px;
}

.navigation-link {
  display: block;
  padding: 6px 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.intro {
  color: #000000;
  background-color: #756257;
  background-image: url("../images/intro/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid red;
  margin-bottom: 63px;
}

.intro-slogan {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 83px;
  border: 1px solid red;
}

.catalog-header {
  color: #ffffff;
  background-color: #756257;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-item {
  flex-wrap:wrap;
  display: flex;
}

.advantages-title {
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 23px;
  border: 1px solid red;
}

.advantages-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-text-container {
  margin: 0;
  padding-top: 98px;
  padding-bottom: 77px;
  width: 400px;
  display: block;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.image-street {
  width: 800px;
}

.sights-image {
  width: 800px;
}

.advantages-item-other {
  display: block;
  justify-content:center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 400px;
}

.cause-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.cause-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.inner-header-title {
  width: 528px;
  padding: 0 71px;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  width: 73px;
  padding: 0 73px;
}

.catalog-filter {
  display: flex;
}

.advantages {
  text-align: center;
}

.causes {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  padding: 0 auto;
  margin-bottom: 79px;
  border: 1px solid red;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 79px;
  border: 1px solid red;
}

.control-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.features-title {
  margin-top: 184px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid red;
}

.infrastructure {
  width: 150px;
  margin-right: 67px;
}

.lodging {
  width: 145px;
  margin-right: 167px;
}

.price {
  width: 278px;
  margin-right: 81px;
}

.catalog {
  width: 1056px;
  margin: 0 72;
}

.catalog-sorting {
  display: flex;
}

.catalog-info {
  width: 337px;
  margin-right: 192px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type {
  width: 287px;
  margin-right: 81px;
}

.button-button-light {
  width: 160px;
}

.product-card {
  display: flex;
}

.product-card-link {
  width: 180px;
  margin-right: 37px;
  flex-shrink: 0;
}

.product-card-main {
  flex-grow: 1;
}

.prduct-card-aside {
  width: 160px;
  margin-left: 37px;
  flex-shrink: 0;
}

.product-card-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.reservation {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.reservation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 15px;
  border: 1px solid red;
}

.advantages-title-facts {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 97px;
  margin-bottom: 76px;
  border: 1px solid red;
}

.advantages-description-facts {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin-bottom: 77px;
  border: 1px solid red;
}

.product-card-type,
.product-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}

.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.button-special {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-search {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 70px;
  border: 1px solid red;
}

.button-search{
  padding: 0;
  margin-bottom: 91px;
  border: 1px solid red;
}

.subscribe {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url("../images/background/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-head {
  padding: 0;
  margin-top: 94px;
  margin-bottom: 15px;
  border: 1px solid red;
}

.subscribe-text {
  padding: 0;
  margin-bottom: 26px;
  border: 1px solid red;
}

.form-subscribe {
  margin-bottom: 94px;
  border: 1px solid red;
}

.button {
  background-color: #83b3d3;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 110px;
  margin-right: 60px;
}

.footer-social-item {
  text-align: left;
  font-style: normal;
  color: #83b3d3;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.branding {
  margin-left: auto;
  max-width: 120px;
  text-align: right;
}

.page-header-logo {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
